<option value="">Выберите район</option>
<option value="admiralteysky">Адмиралтейский район</option>
<option value="vasileostrovsky">Василеостровский район</option>
<option value="vyborgsky">Выборгский район</option>
<option value="kalininsky">Калининский район</option>
<option value="kirovsky">Кировский район</option>
<option value="kolpinsky">Колпинский район</option>
<option value="krasnogvardeysky">Красногвардейский район</option>
<option value="krasnoselsky">Красносельский район</option>
<option value="kronshtadtsky">Кронштадтский район</option>
<option value="kurortny">Курортный район</option>
<option value="moskovsky">Московский район</option>
<option value="nevsky">Невский район</option>
<option value="petrogradsky">Петроградский район</option>
<option value="petrodvortsovy">Петродворцовый район</option>
<option value="primorsky">Приморский район</option>
<option value="pushkinsky">Пушкинский район</option>
<option value="frunzensky">Фрунзенский район</option>
<option value="tsentralny">Центральный район</option>
